<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!-- toll plazas box -->
      <div class="dbox dbox--color-1 z-depth-3">
        <div class="dbox__icon">
          <i class="fa fa-list"></i>
        </div>
        <div class="dbox__body">
          <span class="dbox__count">120</span>
          <span class="dbox__title">Total Locations</span>
        </div>

        <div class="dbox__action">
          <button class="dbox__action__btn noneOutline" data-toggle="modal" data-target="#locationModal"
            (click)="editLocationModalTitle('Total Locations')">More
            Info</button>
        </div>
      </div>
      <!-- end toll plazas box -->
    </div>
    <div class="col-md-3">

      <!-- weigh stations -->
      <div class="dbox dbox--color-2 z-depth-3">
        <div class="dbox__icon">
          <i class="fa fa-check"></i>
        </div>
        <div class="dbox__body">
          <span class="dbox__count">90</span>
          <span class="dbox__title">Completed Locations</span>
        </div>

        <div class="dbox__action">
          <button class="dbox__action__btn noneOutline" data-toggle="modal" data-target="#locationModal"
            (click)="editLocationModalTitle('Completed Locations')">More Info</button>
        </div>
      </div>
      <!-- end weigh stations -->
    </div>
    <div class="col-md-3">

      <!-- police fine beats -->
      <div class="dbox dbox--color-3 z-depth-3">
        <div class="dbox__icon">
          <i class="fa fa-exclamation"></i>
        </div>
        <div class="dbox__body">
          <span class="dbox__count">30</span>
          <span class="dbox__title">Remaining Locations</span>
        </div>

        <div class="dbox__action">
          <button class="dbox__action__btn noneOutline" data-toggle="modal" data-target="#locationModal"
            (click)="editLocationModalTitle('Remaining Locations')">More Info</button>
        </div>
      </div>
      <!-- end police fine beats -->
    </div>
    <div class="col-md-3">

      <!-- police fine beats -->
      <div class="dbox dbox--color-4 z-depth-3">
        <div class="dbox__icon">
          <i class="fa fa-tag"></i>
        </div>
        <div class="dbox__body">
          <span class="dbox__count">1423</span>
          <span class="dbox__title">Total Tags</span>
        </div>

        <div class="dbox__action">
          <button class="dbox__action__btn noneOutline" data-toggle="modal" data-target="#totalTagsModal">More
            Info</button>
        </div>
      </div>
      <!-- end police fine beats -->
    </div>
  </div><!-- end boxes row -->

  <!-- next row -->
  <div class="row">
    <div class="col-md-8">
      <mat-form-field class="w-100">
        <mat-label><span class='text-danger fa fa-filter'>&nbsp;</span><span class='text-danger'>All</span> Province -
          Location - Sub Location</mat-label>
        <mat-select>
          <mat-option value="primary">Punjab South - Multan - GM Office</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <mat-label><span class='text-danger fa fa-filter'>&nbsp;</span><span class='text-danger'>Active</span> Province
          - Location - Sub Location</mat-label>
        <mat-select>
          <mat-option value="primary">Punjab South - Multan - GM Office</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- next row -->
  <div class="row pl-3">
    <div class="col-md-8 pt-2 bg-white boxShadow-1" style='border:1px solid #ddd'>
      <div [chart]="test_chart" class='h-100 w-100'></div>
    </div>
    <div class="col-md-4 pt-2 ">
      <div class="table-responsive bg-white boxShadow-1">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Tags</th>
              <th>detail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>24-Mar-2020</td>
              <td>157</td>
              <td><span class='text-primary cursorPointer' data-toggle="modal"
                  data-target="#officeTypeTagsModal">click...</span></td>
            </tr>
            <tr>
              <td>2</td>
              <td>25-Mar-2020</td>
              <td>235</td>
              <td><span class='text-primary cursorPointer'>click...</span></td>
            </tr>
            <tr>
              <td>3</td>
              <td>26-Mar-2020</td>
              <td>515</td>
              <td><span class='text-primary cursorPointer'>click...</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>

  <!-- Asset Register -->
  <div id='assetRegister'>
    <div class="row">
      <div class="col-md-12">
        <h3>Asset Register</h3>
      </div>
    </div>
  </div>
  <!-- next row -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Sub-Location</mat-label>
        <mat-select>
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Office Type</mat-label>
        <mat-select>
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- next row -->

  <!-- table Asset Register -->
  <!-- table -->
  <table class="table table-striped bg-white boxShadow-1">
    <thead>
      <tr>
        <th>#</th>
        <th>Province</th>
        <th>Location</th>
        <th>Sub-Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Northern Area</td>
        <td>Abbottabad</td>
        <td>GM Office</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Northern Area</td>
        <td>Abbottabad</td>
        <td>GM Office</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Northern Area</td>
        <td>Abbottabad</td>
        <td>GM Office</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Northern Area</td>
        <td>Abbottabad</td>
        <td>GM Office</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Northern Area</td>
        <td>Abbottabad</td>
        <td>GM Office</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Locations Modal Window -->
<div class="modal fade" id="locationModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{locationModalTitle}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- search bar -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>search...</mat-label>
              <mat-icon matPrefix class='fa fa-search'></mat-icon>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <!-- table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Province</th>
              <th>Location</th>
              <th>Sub-Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div><!-- end modal -->

<!-- Total Tags Modal Window -->
<div class="modal fade" id="totalTagsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Total Tags</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <!-- search bar -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>search...</mat-label>
              <mat-icon matPrefix class='fa fa-search'></mat-icon>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <!-- table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Province</th>
              <th>Location</th>
              <th>Sub-Location</th>
              <th>No. of Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Northern Area</td>
              <td>Abbottabad</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Northern Area - Abbottabad - GM Office</td>
              <td>35</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div><!-- end modal -->

<!-- Total Tags Modal Window -->
<div class="modal fade" id="officeTypeTagsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Northern Areas - Abbottabad - GM Office</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <!-- search bar -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Search...</mat-label>
              <mat-icon matPrefix class='fa fa-search'></mat-icon>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <!-- table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Office Type</th>
              <th>No. of Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>2</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>3</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>4</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
            <tr>
              <td>5</td>
              <td>GM Office</td>
              <td>35</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div><!-- end modal -->
