<div class="row">
  <div class="col-md-12 text-center">
    <h4>NHA Posts</h4>
  </div>
</div>

<!-- container -->
<div class="container-fluid boxShadow-1 bg-white">
  <div class="row">
    <!-- entry form -->
    <div class="col-md-4 pl-4 pr-4 border-right">
      <div class="row">
        <div class="col-md-12 pt-4">
          <h6 class='border-bottom pb-2'>{{heading}} Post</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class='w-100'>
            <mat-label>BPS</mat-label>
            <mat-select [(ngModel)]="cmbBS">
              <mat-option *ngFor="
              let item of bpsList" [value]="item.name">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Post Title</mat-label>
            <input matInput [(ngModel)]="txtPostName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Company Name</mat-label>
            <input matInput [(ngModel)]="txtCmpnyName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 pt-2">
          <button mat-button mat-raised-button color="primary" class='noneOutline w-100' (click)="save()">Save</button>
        </div>
        <div class="col-md-3 pt-2">
          <button mat-button mat-raised-button color="warn" class='noneOutline w-100' (click)="clear()">Reset</button>
        </div>
      </div>
    </div>
    <!-- saved locations -->
    <div class="col-md-8 bg-light">
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>search...</mat-label>
            <mat-icon matPrefix class='fa fa-search'></mat-icon>
            <input matInput [(ngModel)]="tblSearch">
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive table-wrapper border style-3 mx-auto" style='height: 400px;'>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center sticky-top" scope="col">#</th>
              <th class="sticky-top" scope="col">Post Title</th>
              <th class="sticky-top" scope="col">BPS</th>
              <th class="sticky-top text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of custodyList | search:'postName,bs':tblSearch let i=index">
              <td class="text-center">{{i+1}}</td>
              <td>{{item.postName}}</td>
              <td>{{item.bs}}</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'
                  (click)="edit(item)"></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3' (click)="delete(item)"></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- End -->
    </div>
  </div>
  <br>
</div>
