<div class="row">
  <div class="col-md-12 text-center">
    <h5>Asset Entry & Tags</h5>
  </div>
</div>
<div class="container bg-white">
  <div class="row">
    <div class="col-md-4">
      <div class="row mt-2 pb-1 borderBottom">
        <div class="col-md-8">
          <h6 class="text-">Location Info</h6>
        </div>
        <div class="col-md-4 text-right">
          <span class="fa fa-edit"></span>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-md-2">
          <button mat-raised-button color="primary">Primary</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 bg-dark">
      <br />
      <br />
      <br />
    </div>
    <div class="col-md-4">
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
