<div class="row pl-3  pr-3 borderBottomDark">
  <div class="col-md-8 align-self-center">
    <h5 class='align-self-center'>Asset Entry & Tags</h5>
  </div>
  <div class="col-md-4 text-right">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class='noneOutline' (click)="getAssetDetail()">
      <mat-button-toggle backgroundColor="warn" (click)="toggleView='form'" class='noneOutline' value="bold">Form View
      </mat-button-toggle>
      <mat-button-toggle class='noneOutline' (click)="toggleView='table'" value="italic">Table View</mat-button-toggle>
      <mat-button-toggle class='noneOutline' value="italic"><span matBadge="4" [matBadgeHidden]="hidden"
          (click)="printDiv()">Print Tags</span></mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="container-fluid pt-3">
  <!-- Form View -->
  <div *ngIf="toggleView == 'table'" class='animated fadeInUp'>
    <!-- search bar -->
    <div class="row pl-3">
      <div class="col-md-10">
        <mat-form-field class="w-100">
          <mat-label [(ngModel)]="tblSearch">search asset</mat-label>
          <span matPrefix><span class='fa fa-search'></span> &nbsp;</span>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-md-2 pr-3 align-self-center noneOutline">
        <button mat-button color="warn" data-toggle="modal" data-target="#advanceSearchModal">Advance Search</button>
      </div>
    </div>
    <!-- table -->
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Asset #</th>
            <th scope="col">Location - Subl Location</th>
            <th scope="col">Asset - Category</th>
            <th scope="col">Custody</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of assetDetailList | search:'subLocationDescription,accountsCatagory,postName':tblSearch let i=index">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.subLocationDescription}}</td>
            <td>{{item.accountsCatagory}}</td>
            <td>{{item.postName}}</td>
            <td class='inline-block'><span class='fa fa-edit cursorPointer pr-3 text-primary'
                (click)="editAsset(item)"></span>
              <span class='fa fa-trash-o cursorPointer text-danger' (click)="delete(item)"></span>
            </td>
          </tr>
          <tr *ngIf="assetDetailList.length==0">
            <td>No Record Found</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table -->
  </div><!-- end Form View -->
  <!-- Asset Tags -->
  <div *ngIf="toggleView == 'form'" class='animated fadeInUp'>
    <div class="row mb-2">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Province - Location - Sub Location</mat-label>
              <mat-select [(ngModel)]="cmbLocation" (ngModelChange)="getAssetNo()">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchLocation">
                <mat-option
                  *ngFor=" let item of locList | search: 'provinceName, mainLocationDescription, subLocationDescription':searchLocation"
                  [value]="item.subLocID">
                  <table class="table">
                    <tr class='d-flex'>
                      <td class="col-4">{{ item.provinceName }}</td>
                      <td class="col-4">{{ item.mainLocationDescription }}</td>
                      <td class="col-4">{{ item.subLocationDescription }}</td>
                    </tr>
                  </table>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Office Type</mat-label>
              <mat-select [(ngModel)]="cmbOfcType" (ngModelChange)="getAssetNo()">
                <mat-option *ngFor=" let item of ofcTypeList" [value]="item.officeTypeID">
                  {{ item.officeTypeDescription }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Wing - Section</mat-label>
              <mat-select [(ngModel)]="cmbWngSection">
                <mat-option *ngFor=" let item of wngSectionList" [value]="item.officeSecID">
                  {{ item.officeDescription }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <hr>
        <!-- next row -->
        <div class="row ">
          <div class="col-md-12">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="rdbAsset">
              <mat-radio-button value="1" class='pr-5'>Other Asset</mat-radio-button>
              <mat-radio-button value="2">Vehicle</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- next row -->
        <div class="row " *ngIf="rdbAsset == '2'">
          <div class="col-md-11">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Vehicle</mat-label>
              <mat-select [(ngModel)]="cmbVehicle">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchVehicle">
                <mat-option *ngFor=" let item of vehicleList |search:'':searchVehicle" [value]="item.id">
                  <table class="table">
                    <tr class='d-flex'>
                      <td class="col-2">{{ item.vehID }}</td>
                      <td class="col-3">{{ item.make }}</td>
                      <td class="col-2">{{ item.model }}</td>
                      <td class="col-2">{{ item.engineNum }}</td>
                      <td class="col-3">{{ item.chasisNum }}</td>
                    </tr>
                  </table>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1">
            <button mat-mini-fab color="primary" aria-label="" class='noneOutline fa fa-plus' data-toggle="modal"
              data-target="#vehicleModal">
            </button>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Custody</mat-label>
              <mat-select [(ngModel)]="cmbCustody">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchCustody">
                <mat-option *ngFor=" let item of custodyList |search:'postName':searchCustody" [value]="item.postID">
                  {{ item.postName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Asset - Category</mat-label>
              <mat-select [(ngModel)]="cmbAssetCat" (ngModelChange)="getAssetNo()">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchCategory">
                <mat-option *ngFor=" let item of AssetCatList |search:'assetCatDescription':searchCategory"
                  [value]="item.assetCatID">
                  {{ item.assetCatDescription }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Asset Description</mat-label>
              <input matInput [(ngModel)]="txtAssetDesc">
            </mat-form-field>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Asset Location</mat-label>
              <input matInput [(ngModel)]="txtAssetLoc">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Other Identification</mat-label>
              <input matInput [(ngModel)]="txtIdentification">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Serial Number</mat-label>
              <input matInput [(ngModel)]="txtSerialNo">
            </mat-form-field>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Select Project</mat-label>
              <mat-select [(ngModel)]="cmbProject">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchProject">
                <mat-option *ngFor=" let item of projectList |search:'projectName':searchProject"
                  [value]="item.projectID">
                  {{ item.projectName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>IPC Reference</mat-label>
              <input matInput [(ngModel)]="txtRef">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Purchase Date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="dtpPurchaseDt">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Amount</mat-label>
              <input matInput [(ngModel)]="txtAmount">
            </mat-form-field>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Previous Tag</mat-label>
              <input matInput [(ngModel)]="txtPreTag">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Net Book Value</mat-label>
              <input matInput [(ngModel)]="txtNetBVal">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Asset Condition</mat-label>
              <mat-select [(ngModel)]="cmbAssetCond">
                <mat-option *ngFor=" let item of assetCondList" [value]="item.condition">
                  {{ item.condition }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-2">
            <mat-slide-toggle [(ngModel)]="sldUsable">Useable</mat-slide-toggle>
          </div>
          <div class="col-md-3">
            <mat-slide-toggle [(ngModel)]="sldServiceable">Serviceable</mat-slide-toggle>
          </div>
          <div class="col-md-2">
            <mat-slide-toggle [(ngModel)]="sldSurplus">Surplus</mat-slide-toggle>
          </div>
          <div class="col-md-3">
            <mat-slide-toggle [(ngModel)]="sldCondemned">Condemned</mat-slide-toggle>
          </div>
          <div class="col-md-2">
            <mat-slide-toggle [(ngModel)]="sldMissing">Missing</mat-slide-toggle>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Remarks</mat-label>
              <input matInput [(ngModel)]="txtRemarks">
            </mat-form-field>
          </div>
        </div>

        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <button mat-raised-button class='noneOutline' color="warn" (click)="save()">Save Asset</button>
            <button mat-raised-button class='noneOutline ml-2' color="primary" (click)="clear()">Reset</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 bg-danger boxShadow-1 pt-3">
        <mat-card class='text-center mb-2'>Asset Tag</mat-card>
        <mat-card class='text-center mb-2'>Asset Tag</mat-card>
        <mat-card class='text-center mb-2'>Asset Tag</mat-card>
        <mat-card class='text-center mb-2'>Asset Tag</mat-card>
      </div>
    </div>
  </div>

  <!-- print tags -->
  <div id='tagDiv' hidden>
    <div class="d-flex flex-wrap">
      <div *ngFor="let item of Emp">
        <div class="p-5 border border-danger text-center" style="min-width: 345px !important;">{{item.id}} -
          {{item.finding}}</div>
      </div>

    </div>
  </div>

</div><!-- end container -->

<!-- Advance Search Modal -->
<div class="modal fade" id="advanceSearchModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Advance Search</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Province - Location - Sub Location</mat-label>
              <mat-select>
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Office Type</mat-label>
              <mat-select>
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Wing - Section</mat-label>
              <mat-select>
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Vehicle Modal -->
<div class="modal fade" id="vehicleModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Vehicle Entry</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Registeration No.</mat-label>
              <input matInput [(ngModel)]="txtRegNo">
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Make / Brand</mat-label>
              <mat-select [(ngModel)]="cmbMake">
                <mat-option *ngFor=" let item of vehMakeList" [value]="item.make">
                  {{ item.make }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Model</mat-label>
              <mat-select [(ngModel)]="cmbModel">
                <mat-option *ngFor=" let item of vehModelList" [value]="item.model">
                  {{ item.model }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Type</mat-label>
              <mat-select [(ngModel)]="cmbType">
                <mat-option *ngFor=" let item of vehTypeList" [value]="item.type">
                  {{ item.type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Engine No.</mat-label>
              <input matInput [(ngModel)]="txtEngine">
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field color='warn' class='w-100'>
              <mat-label>Chasis No.</mat-label>
              <input matInput [(ngModel)]="txtChasis">
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button mat-raised-button color="warn" (click)="saveVehicle()">Save Vehicle</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
