<div class="row">
  <div class="col-md-12 text-center">
    <h1>NHA Vehicles</h1>
  </div>
</div>
<div class="loader" *ngIf="loadingBar">Loading...</div>

<!-- container -->
<div class="container-fluid bg-white">
  <div class="row border-danger">
    <!-- entry form -->
    <div class="col-md-4 pl-3 pr-0 border-right">
      <div class="row  bgGrey">
        <div class="col-md-12 pt-4">
          <h3 class='text-white pb-2'>{{heading}} Vehicle</h3>
        </div>
      </div>
      <div [(ngModel)]="vehID" class="hide"></div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Registeration No.</mat-label>
            <input matInput [(ngModel)]="txtRegNo" />
          </mat-form-field>
        </div>
      </div>
      <!-- next row -->
      <div class="row pr-4 pl-1">
        <div class="col-md-12">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Make / Brand</mat-label>
            <mat-select [(ngModel)]="cmbMake">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="searchMake" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              </mat-option>

              <mat-option *ngFor="let item of vehMakeList | search: 'make':searchMake" [value]="item.make">
                {{ item.make }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- next row -->
      <div class="row pr-4 pl-1">
        <div class="col-md-6">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Model</mat-label>
            <mat-select [(ngModel)]="cmbModel">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="searchModel" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              </mat-option>

              <mat-option *ngFor="
                    let item of vehModelList | search: 'model':searchModel
                  " [value]="item.model">
                {{ item.model }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="cmbType">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="searchType" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              </mat-option>

              <mat-option *ngFor="let item of vehTypeList | search: 'model':searchType" [value]="item.type">
                {{ item.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- next row -->
      <div class="row pr-4 pl-1">
        <div class="col-md-12">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Asset Category</mat-label>
            <mat-select [(ngModel)]="cmbVehicleAssetCat">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="searchVehicleAssetCat" [placeholderLabel]="'Search...'"
                  [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              </mat-option>

              <mat-option *ngFor="
                    let item of vehAssetCatList
                      | search: 'assetCatDescription':searchVehicleAssetCat
                  " [value]="item.assetCatID" [disabled]="item.isActivated == 0">
                {{ item.assetCatDescription }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- next row -->
      <div class="row pr-4 pl-1">
        <div class="col-md-6">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Engine No.</mat-label>
            <input matInput [(ngModel)]="txtEngine" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Chasis No.</mat-label>
            <input matInput [(ngModel)]="txtChasis" />
          </mat-form-field>
        </div>
      </div>
      <!-- next row -->
      <!-- <div class="row pr-4 pl-1">
        <div class="col-md-12">
          <mat-form-field color="warn" class="w-100">
            <mat-label>Chasis No.</mat-label>
            <input matInput [(ngModel)]="txtChasis" />
          </mat-form-field>
        </div>
      </div> -->

      <!-- next row -->
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Deployed With</mat-label>
            <textarea matInput placeholder="" [(ngModel)]="txtDeploy"></textarea>
          </mat-form-field>
        </div>
      </div>
      <!-- next row -->
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <div class="custom-file">
            <input type="file" class="custom-file-input" [(ngModel)]="imgFileVehicle"
              (change)="onVehicleFileSelected($event)" />
            <label class="custom-file-label" for="customFile">Choose Register Document</label>
          </div>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2 text-center">
          <div class="text-center">
            <button class="noneOutline" mat-button *ngIf="
                  imageVehicleUrl !=
                    '../../../../../assets/assetEntryImg/dropHereImg.png' &&
                  lblFileName == ''
                " color="primary">
              Open uploaded File
            </button>
            <button class="noneOutline" mat-button *ngIf="
                  imageVehicleUrl !=
                    '../../../../../assets/assetEntryImg/dropHereImg.png' &&
                  lblFileName != ''
                " color="primary" (click)="openPDFFile()">
              {{ lblFileName }}
            </button>
          </div>
        </div>
      </div>

      <!-- next row -->
      <div class="footer w-100">
        <div class="row border-top bgGrey pt-2 pb-2 pl-3">
          <div class="col-md-12 inline-block">
            <a class="btn-flip mr-3" data-back="Save" data-front="Save" (click)="save()"></a>
            <a class="btn-flip" data-back="Reset" data-front="Reset" (click)="clearAll()"></a>
          </div>
        </div>
      </div>

    </div>
    <!-- saved locations -->
    <div class="col-md-8 bg-light">
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>search...</mat-label>
            <mat-icon matPrefix class='fa fa-search'></mat-icon>
            <input matInput [(ngModel)]="tblSearch">
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive mb-2 table-wrapper mx-auto border style-1" style='height: 560px;'>
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="text-center sticky-top" scope="col">#</th>
              <th class="sticky-top" scope="col">Vehicle ID</th>
              <th class="sticky-top" scope="col">Make</th>
              <th class="sticky-top" scope="col">Model</th>
              <th class="sticky-top" scope="col">Engine</th>
              <th class="sticky-top" scope="col">Chasis</th>
              <th class="sticky-top text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of vehicleList | sort: 'vehID : desc' | search:'vehID, make,model,engineNum,chasisNum':tblSearch let i=index">
              <td class="text-center">{{i+1}}</td>
              <td>{{item.vehID}}</td>
              <td>{{item.make}}</td>
              <td>{{item.model}}</td>
              <td>{{item.engineNum}}</td>
              <td>{{item.chasisNum}}</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'
                  (click)="genPin(item,'edit',0)"></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3' (click)="genPin(item,'delete',0)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- End -->
    </div>
  </div>
</div>

<!-- Enter Pin Modal Windw -->
<!-- The Modal -->
<div class="modal animate__animated animate__bounceIn" id="genPinModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Enter Pin</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Enter Pin</mat-label>
              <input matInput type="password" maxlength="4" (keydown)="onKeyPress($event)" [(ngModel)]="txtPin" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-md-4">
              <button mat-raised-button color="warn" (click)="resetPin()">
                Enter Pin
              </button>
            </div> -->
          <div class="col-md-4">
            <button mat-raised-button color="primary" (click)="allowUpdation()">
              OK
            </button>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
