<div class="row">
  <div class="col-md-12 text-center">
    <h1>NHA Sections</h1>
  </div>
</div>
<div class="loader" *ngIf="loadingBar">Loading...</div>

<!-- container -->
<div class="container-fluid boxShadow-1 bg-white" *ngIf="!loadingBar">
  <div class="row">
    <!-- entry form -->
    <div class="col-md-4 pl-3 pr-0 border-right">
      <div class="row  bgGrey">
        <div class="col-md-12 pt-4">
          <h3 class='text-white pb-2'>{{heading}} Section</h3>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class='w-100'>
            <mat-label>Office Type</mat-label>
            <mat-select [(ngModel)]="cmbOfcType" (ngModelChange)="filterTable(cmbOfcType)">
              <!-- <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchOfcType" /> -->
              <ngx-mat-select-search [(ngModel)]="searchOfcType" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              <mat-option *ngFor="
              let item of ofcTypeList" [value]="item.officeTypeID | search
              : 'officeTypeDescription'
              : searchOfcType">{{item.officeTypeDescription}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class='w-100'>
            <mat-label>Wing</mat-label>
            <mat-select [(ngModel)]="cmbWing">
              <!-- <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchWing" /> -->
              <ngx-mat-select-search [(ngModel)]="searchWing" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              <mat-option *ngFor="
              let item of wingList" [value]="item.wingID | search
              : 'wingName'
              : searchWing">{{item.wingName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Section Short Name</mat-label>
            <input matInput [(ngModel)]="txtSecShrtName">
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Section Full Name</mat-label>
            <input matInput [(ngModel)]="txtSecFullName">
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-2 pr-4 pl-1">
        <div class="col-md-4 pt-0">
          <!-- <button mat-button mat-raised-button color="primary" class='noneOutline w-100' (click)="save()">Save</button> -->
          <div class="flip" (click)="save()">
            <a href="">
              <div class="front">Save</div>
              <div class="back">Save</div>
            </a>
          </div>
        </div>
        <div class="col-md-4 pt-0">
          <button mat-button mat-raised-button color="warn" class='noneOutline w-100' (click)="clear()">Reset</button>
        </div>
      </div>
    </div>
    <!-- saved locations -->
    <div class="col-md-8 bg-light">
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>search...</mat-label>
            <mat-icon matPrefix class='fa fa-search'></mat-icon>
            <input matInput [(ngModel)]="tblSearch">
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive table-wrapper mx-auto border style-3" style='height: 400px;'>
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="text-center sticky-top" scope="col">#</th>
              <th class="sticky-top" scope="col">Wing - Section</th>
              <th class="sticky-top" scope="col">Short Name</th>
              <th class="sticky-top" scope="col">Office Type</th>
              <th class="sticky-top text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of wngSectionList | search:'officeTypeDescription,wingName,officeDescription':tblSearch let i=index">
              <td class="text-center">{{i+1}}</td>
              <td>{{item.wingName}} - {{item.officeDescription}}</td>
              <td>{{item.officeCode}}</td>
              <td>{{item.officeTypeDescription}}</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'
                  (click)="edit(item)"></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3' (click)="delete(item)"></span>
                <mat-slide-toggle [(ngModel)]="item.isActivated" (change)="active(item)">
                </mat-slide-toggle>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- End -->
    </div>
  </div>
</div>
