<!-- side nav -->
<div id="mySidenav" class="sidenav bgGrey style-3">
  <div class="row">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="../assets/images/nha.png" width="30%" alt="">
    </div>
  </div>
  <div class="borderBottomDark"></div>
  <ul>
    <li>
      <a href="" routerLinkActive="active" routerLink="dashboard" (click)="closeNav()"><i class="fa fa-dashboard"></i>
        <span class='pl-3'>Dashboard</span></a>

    </li>
    <li>
      <a href="" routerLinkActive="active" routerLink="assetEntry" (click)="closeNav()"><i class="fa fa-table"></i>
        <span class='pl-3'>Asset Entry & Tags</span></a>

    </li>
    <li>
      <a href="" routerLinkActive="active" routerLink='freeholdLand' (click)="closeNav()"><i
          class="fa fa-picture-o"></i>
        <span class='pl-3'>Freehold Land</span></a>

    </li>
    <li>
      <a href="" routerLinkActive="active" routerLink='nhaRoads' (click)="closeNav()"><i class="fa fa-road"></i>
        <span class='pl-3'>Roads on Land</span></a>

    </li>
    <li>
      <a href=""><i class="fa fa-diamond"></i> <span class="pl-3">Admin Panel</span>
        <span class='fa fa-chevron-right pull-right'></span>
      </a>
      <ul class="nav-flyout">
        <li>
          <a href="" href="" routerLink='userRegisteration' routerLinkActive="active" (click)="closeNav()"><i
              class="fa fa-user-plus"></i>User Registeration</a>
        </li>
        <li>
          <a href=""><i class="ion-ios-cog-outline txt-black"></i>end here</a>
        </li>
      </ul>
    </li>
    <li>
      <a href=""><i class="fa fa-cog"></i> <span class="pl-3">Configurations</span>
        <span class="fa fa-chevron-right pull-right"></span></a>
      <ul class="nav-flyout">
        <li>
          <a href="" routerLinkActive="active" routerLink="nhaLoc" (click)="closeNav()"><i
              class="fa fa-location-arrow"></i>NHA Locations</a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="nhaSec" (click)="closeNav()"><i
              class="fa fa-building"></i>NHA Section</a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="nhaOfficeType" (click)="closeNav()"><i
              class="fa fa-bank"></i>Office Type</a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="assetCat" (click)="closeNav()"><i
              class="fa fa-list"></i>Asset Category</a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="nhaPost" (click)="closeNav()"><i class="fa fa-users"></i>NHA
            Posts</a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="nhaProject" (click)="closeNav()"><i
              class="fa fa-road"></i>NHA Project</a>
        </li>
        <li>
          <a href="" routerLinkActive="active" routerLink="nhaProjectIPC" (click)="closeNav()"><i
              class="fa fa-file"></i>NHA Project IPCs</a>
        </li>
      </ul>
    </li>
  </ul>
</div> <!-- end side nav -->

<!-- header -->
<div id='main'>
  <div class="row" id="menuId">
    <div class="col-md-2 pl-4">
      <span style="font-size: 1.5em; cursor: pointer;font-family: 'Montserrat';" (click)="openNav()"
        class="animate__animated animate__bounce">&#9776; NHA</span>
    </div>
    <div class="col-md-2 offset-md-8 pt-1 text-right">
      <button mat-button class="noneOutline" style="font-family: 'Montserrat'; font-size: 1.0em !important;"
        [matMenuTriggerFor]="menu">
        <!-- <span class="fa fa-user"></span>&nbsp;&nbsp;{{ userName }} -->
        <span class="fa fa-user"></span>&nbsp;&nbsp;{{userName}}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="noneOutline" data-toggle="modal" data-target="#resetPasswordModal">
          <span class="fa fa-lock"></span>&nbsp;Reset Password
        </button>
        <button mat-menu-item class="noneOutline" data-toggle="modal" data-target="#genPinCodeModal"
          (click)="clearPin()">
          <span class="fa fa-lock"></span>&nbsp;Generate Pin
        </button>
        <button mat-menu-item class="noneOutline" data-toggle="modal" data-target="#compLocationModal">
          <span class="fa fa-check"></span>&nbsp;Complete Location
        </button>
        <button mat-menu-item class="noneOutline" data-toggle="modal" data-target="#qrScannerModal">
          <span class="fa fa-qrcode"></span>&nbsp;QR Scanner
        </button>
        <button mat-menu-item class="noneOutline" (click)="Logout()">
          <span class="fa fa-sign-out"></span>&nbsp;Log out
        </button>
      </mat-menu>
    </div>
    <!-- <div class="col-md-1">
      <button mat-mini-fab color="warn" class="p-0 m-0 noneOutline fa fa-sign-out" (click)="Logout()"></button>
    </div> -->
  </div>
  <!-- <div id="menuId" class="animate__animated animate__bounce"></div> -->
  <router-outlet></router-outlet>
</div>

<!-- complete location modal windows -->
<!-- The Modal -->
<div class="modal animate__animated animate__bounceIn" id="compLocationModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Complete Location</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Done</mat-radio-button>
              <mat-radio-button value="2">Un-Done</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Select Location</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label>Description</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- next Row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <mat-label fcsa-number>Enter PIN</mat-label>
              <input matInput maxlength="4" />
            </mat-form-field>
          </div>
        </div>
        <!-- next Row -->
        <div class="row">
          <div class="col-md-12">
            <button mat-raised-button color="warn">
              <span class="fa fa-check"></span>Done
            </button>
            <button mat-button class="pull-right" color="primary">
              generate PIN
            </button>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- QR scanner Modal Window -->
<!-- The Modal -->
<div class="modal animate__animated animate__bounceIn" id="qrScannerModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">QR Scanner</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="row">
              <div class="col-md-12">
                <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <section class="results" *ngIf="qrResultString">
                  <div>
                    <small>Result</small>
                    <strong>{{ qrResultString }}</strong>
                  </div>
                  <!-- <button mat-icon-button (click)="clearResult()">&times;</button> -->
                </section>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                Account Category :
              </div>
              <div class="col-md-8 border-bottom">
                Furniture & Fixture
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Asset Category :
              </div>
              <div class="col-md-8 border-bottom">
                Sofa Set
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Custody In :
              </div>
              <div class="col-md-8 border-bottom">
                Deputy Director (B&A)
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Room No. :
              </div>
              <div class="col-md-8 border-bottom">
                15
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Description :
              </div>
              <div class="col-md-8 border-bottom">
                two seater three sofa set brown color fabric cautioned
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Office Type :
              </div>
              <div class="col-md-8 border-bottom">
                Head Quarter
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Location :
              </div>
              <div class="col-md-8 border-bottom">
                NHA Head Quarter
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Region :
              </div>
              <div class="col-md-8 border-bottom">
                Head Quarter
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-4">
                Province :
              </div>
              <div class="col-md-8 border-bottom">
                Federal
              </div>
            </div>
          </div>

          <!-- asset detail -->
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Reset Password Modal -->
<div class="modal animate__animated animate__bounceIn" id="resetPasswordModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Reset Password</h3>
        <button type="button" class="close" data-dismiss="modal" id="closeResetNav">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Old Password</mat-label>
              <input type='password' matInput [(ngModel)]="txtOldPw">
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>New Password</mat-label>
              <input type='password' matInput [(ngModel)]="txtNewPw">
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Confirm Password</mat-label>
              <input type='password' matInput [(ngModel)]="txtConfirmPw">
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <a class="btn-flip" data-back="Save" data-front="Save" (click)="resetPw()"></a>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Generate Pin Modal -->
<div class="modal animate__animated animate__bounceIn" id="genPinCodeModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Generate Pin</h3>
        <button type="button" class="close" data-dismiss="modal" id="closeResetNav">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Pin</mat-label>
              <input type='password' matInput [(ngModel)]="txtPin" maxlength="4">
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Confirm Pin</mat-label>
              <input type='password' matInput [(ngModel)]="txtConfirmPin" maxlength="4">
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <a class="btn-flip" data-back="Save" data-front="Save" (click)="genPin()"></a>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
