<div class="row">
  <div class="col-md-12 text-center">
    <h4>Asset Categories</h4>
  </div>
</div>

<!-- container -->
<div class="container-fluid bg-white">
  <div class="row">
    <!-- entry form -->
    <div class="col-md-4 pl-4 pr-4 border-right">
      <div class="row">
        <div class="col-md-12 pt-4">
          <h6 class='border-bottom pb-2'>Add / Edit Asset Category</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class='w-100'>
            <mat-label>Account Category</mat-label>
            <mat-select>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-3 pl-3">
        <div class="col-md-10 text-danger pb-2 border-right border-bottom">
          Diminishing Balance Method
        </div>
        <div class="col-md-2 text-danger pb-2 text-right border-bottom">
          20%
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Category Short Name</mat-label>
            <input matInput maxlength="5">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Category Full Name</mat-label>
            <input matInput maxlength="50">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose Asset Image</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2 text-center">
          <div class="text-center">
            <img src="..." class="rounded" alt="...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 pt-2">
          <button mat-button mat-raised-button color="primary" class='noneOutline w-100'>Save</button>
        </div>
        <div class="col-md-3 pt-2">
          <button mat-button mat-raised-button color="warn" class='noneOutline w-100'>Reset</button>
        </div>
      </div>
      <br>
    </div>
    <!-- saved locations -->
    <div class="col-md-8 bg-light">
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>search...</mat-label>
            <mat-icon matPrefix class='fa fa-search'></mat-icon>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive border table-wrapper mx-auto mb-2 style-3" style='height: 450px;'>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="sticky-top" scope='col'>#</th>
              <th class="sticky-top" scope='col'>Account Category</th>
              <th class="sticky-top" scope='col'>Short Name</th>
              <th class="sticky-top" scope='col'>Full Name</th>
              <th class="sticky-top text-center" scope='col'>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Furniture & Fixture</td>
              <td>SFS</td>
              <td>Sofa Set</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3'></span>
                <mat-slide-toggle>
                </mat-slide-toggle>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- End -->
    </div>
  </div>
</div>
