<div class="containerLogin">
  <section id="formHolder">

    <div class="row">

      <!-- Brand Box -->
      <div class="col-sm-6 brand">
        <a href="#" class="logo">LOGIX <span>.</span></a>

        <div class="heading">
          <img src="../../../../assets/images/nha.png" alt="" width=40% height="40%">
          <!-- <h2>national highway authority</h2> -->
          <p>Fix Asset Module</p>
        </div>

        <div class="success-msg">
          <p>Great! You are one of our members now</p>
          <a href="#" class="profile">Your Profile</a>
        </div>
      </div>


      <!-- Form Box -->
      <div class="col-sm-6 form">

        <!-- Login Form -->
        <div class="login form-peice ">

          <form class="login-form" action="#" method="post">
            <h2>Login</h2>
            <!-- <div class="form-group">
              <label for="loginemail">Email Adderss</label>
              <input type="email" name="loginemail" id="loginemail">
            </div>

            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password" name="loginPassword" id="loginPassword" required>
            </div> -->

            <mat-form-field class='w-100'>
              <mat-label>email address</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field class='w-100'>
              <mat-label>passwoard</mat-label>
              <input matInput>
            </mat-form-field>
            <!-- <mat-form-field> -->
            <!-- <mat-label>Enter some input</mat-label> -->
            <!-- <input matInput maxlength="10" placeholder="Ex. Nougat"> -->
            <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
            <!-- </mat-form-field> -->

            <div class="CTA">
              <button mat-raised-button color="warn" class='noneOutline mr-5'>Login <span
                  class='fa fa-angle-double-right'></span></button>
              <a href="#" class="switch">forget password</a>
            </div>
          </form>
        </div><!-- End Login Form -->


        <!-- Signup Form -->
        <div class="signup form-peice switched">
          <div>
            <form class="signup-form" action="#" method="post">
              <h2>Reset Password</h2>

              <!-- <div class="form-group">
                <label for="email">Email Adderss</label>
                <input type="email" name="emailAdress" id="email" class="email">
                <span class="error"></span>
              </div> -->

              <!-- <div class="form-group">
                <label for="phone">Phone Number - <small>Optional</small></label>
                <input type="text" name="phone" id="phone">
              </div> -->

              <!-- <div class="form-group">
                <label for="oldPassword">Password</label>
                <input type="password" name="oldPassword" id="password" class="pass">
                <span class="error"></span>
              </div> -->

              <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="pass">
                <span class="error"></span>
              </div>

              <div class="form-group">
                <label for="passwordCon">Confirm Password</label>
                <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                <span class="error"></span>
              </div> -->

              <mat-form-field class='w-100'>
                <mat-label>email address</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class='w-100'>
                <mat-label>old password</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class='w-100'>
                <mat-label>new password</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class='w-100'>
                <mat-label>confirm passwoard</mat-label>
                <input matInput>
              </mat-form-field>

              <div class="CTA">
                <button mat-raised-button color="warn" class='noneOutline mr-5'>Reset Password</button>
                <a href="#" class="switch">I have an account</a>
              </div>
            </form>
          </div>

        </div><!-- End Signup Form -->
      </div>
    </div>

  </section>




</div>
