<div class="row pl-3 m-0 p-0">
  <div class="col-md-6 align-self-center p-0 m-0">
    <h1 class="align-self-center">NHA Freehold Land</h1>
  </div>
  <div class="col-md-6 text-right">
    <nav id="pageNav" class="stroke text-right">
      <ul>
        <li>
          <a (click)="toggleView = 'form'" class="cursorPointer">Form View</a>
        </li>
        <li>
          <a (click)="toggleView = 'table'" class="cursorPointer">Table View</a>
        </li>
        <li>
          <a class="cursorPointer" data-toggle="modal" data-target="#costAdditionhModal">Addition</a>
        </li>
        <li>
          <a class="cursorPointer" data-toggle='modal' data-target="#revaluedCostModal">Re-Valuation</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- container -->
<div class="conatiner-fluid bg-white">
  <!-- Table View -->
  <div *ngIf="toggleView == 'table'" class="animate_animated animate_fadeInUp">
    <!-- search bar -->
    <div class="row pl-3">
      <div class="col-md-10">
        <mat-form-field class="w-100">
          <mat-label>search asset</mat-label>
          <span matPrefix><span class="fa fa-search"></span> &nbsp;</span>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-md-2 pr-3 align-self-center noneOutline">
        <button mat-button color="warn" data-toggle="modal" data-target="#advanceSearchModal">
          Advance Search
        </button>
      </div>
    </div>

    <!-- table -->
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Action</th>
          <th>Trial</th>
          <th>Project</th>
          <th>Road</th>
        </thead>
        <tbody>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
          <tr>
            <td class="inline-block">
              <span class="fa fa-edit cursorPointer pr-3 text-primary"></span>
              <span class="fa fa-trash-o cursorPointer text-danger"></span>
            </td>
            <td>
              KHR-TKM
            </td>
            <td>Karachi - Torkham Project</td>
            <td>N-5</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table -->
  </div><!-- end table view -->

  <!-- form view -->
  <div *ngIf="toggleView == 'form'" class="animate_animated animate_fadeInUp">

    <div class="row">
      <div class="col-md-6 border-right pl-5 pr-4">
        <div class="row mt-2">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Account Section</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Trial Balance</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Account Code - Project Name</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-4 align-self-center font-weight-bold">
            Area Acquired
          </div>
          <div class="col-md-4">
            <mat-form-field class='w-100'>
              <mat-label>Kanals</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class='w-100'>
              <mat-label>Marlas</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Road</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Purpose of Purchase</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Present Use</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6 bg-light pl-4 pr-4">
        <div class="row mt-2">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Year of Acquisition</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Amount Paid to Different Affectees</mat-label>
              <input matInput currencyMask>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-4 align-self-center font-weight-bold">
            Land Transfered to NHA
          </div>
          <div class="col-md-4">
            <mat-form-field class='w-100'>
              <mat-label>Kanals</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class='w-100'>
              <mat-label>Marlas</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <!-- next row -->
      <div class="row border-top bgGrey pt-3 pb-3 pl-4">
        <div class="col-md-12 inline-block">
          <a class="btn-flip mr-3" data-back="Save" data-front="Save"></a>
          <a class="btn-flip" data-back="Reset" data-front="Reset"></a>
        </div>
      </div>
    </div>
  </div><!-- end form view -->
</div><!-- end container -->



<!-- Advance Search Modal -->
<div class="modal animate__animated animate__bounceIn" id="advanceSearchModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Advance Search</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Province - Region - Location</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Office Type</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='w-100'>
              <mat-label>Wing - Section</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Additoinal Cost Modal -->
<div class="modal animate__animated animate__bounceIn" id="costAdditionhModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Land Cost Addition</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- opening cost -->
        <div class="row bg-light">
          <div class="col-md-12 pl-4 pr-4 pb-2">
            <div class="row">
              <div class="col-md-12 border-bottom">
                <h4>Opening Cost</h4>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Opening Cost Amount</mat-label>
                  <input currencyMask matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Opening Cost as on</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <a class="btn-flip" data-back="Save Opening Cost" data-front="Save Opening Cost"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Revalued Cost -->
        <div class="row border-top">
          <div class="col-md-12 pt-2 pl-4 pr-4">
            <div class="row">
              <div class="col-md-12">
                <h4>Yearly Cost</h4>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Yearly Cost</mat-label>
                  <input currencyMask matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Additoin Year</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <a class="btn-flip" data-back="Save Yearly Cost" data-front="Save Yearly Cost"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Re-Valued Cost Modal -->
<div class="modal animate__animated animate__bounceIn" id="revaluedCostModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Land Cost Re-Valuation</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- opening cost -->
        <div class="row bg-light">
          <div class="col-md-12 pl-4 pr-4 pb-2">
            <div class="row">
              <div class="col-md-12 border-bottom">
                <h4>Opening Re-Valuation</h4>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Opening Amount</mat-label>
                  <input currencyMask matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Opening Amount as on</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Opening Surplus Amount</mat-label>
                  <input currencyMask matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <a class="btn-flip" data-back="Save Re-Valuation Opening" data-front="Save Re-Valuation Opening"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Revalued Cost -->
        <div class="row border-top">
          <div class="col-md-12 pt-2 pl-4 pr-4">
            <div class="row">
              <div class="col-md-12">
                <h4>Re-Valuation Amount</h4>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Amount</mat-label>
                  <input currencyMask matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Year</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class='w-100'>
                  <mat-label>Surplus Amount</mat-label>
                  <input currencyMask matInput>
                </mat-form-field>
              </div>
            </div>
            <!-- next row -->
            <div class="row">
              <div class="col-md-12">
                <a class="btn-flip" data-back="Save Re-Valuation Amount" data-front="Save Re-Valuation Amount"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
