<div class="row">
  <div class="col-md-12 text-center">
    <h1>NHA Locations</h1>
  </div>
</div>
<div class="loader" *ngIf="loadingBar">Loading...</div>

<!-- container -->
<div class="container-fluid bg-white" *ngIf="!loadingBar">
  <div class="row">
    <!-- entry form -->
    <div class="col-md-4 pl-3 pr-0 border-right">
      <div class="row bgGrey">
        <div class="col-md-12 pt-4">
          <h3 class='pb-2 text-white'>{{heading}} Location</h3>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class='w-100'>
            <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="cmbRegion">
              <!-- <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchLocation" /> -->
              <ngx-mat-select-search [(ngModel)]="searchLocation" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              <mat-option *ngFor="
              let item of mainLocList  | search
              : 'mainLocationDescription'
              : searchLocation
        " [value]="item.mainLocID">{{item.mainLocationDescription}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class='w-100'>
            <mat-label>Office Type</mat-label>
            <mat-select [(ngModel)]="cmbOfcType">
              <!-- <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchOfcType" /> -->
              <ngx-mat-select-search [(ngModel)]="searchOfcType" [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
              <mat-option *ngFor="
              let item of ofcTypeList | search
              : 'officeTypeDescription'
              : searchOfcType" [value]="item.officeTypeID ">{{item.officeTypeDescription}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Location Short Name</mat-label>
            <input matInput [(ngModel)]="txtLocShrtName">
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>Location Full Name</mat-label>
            <input matInput [(ngModel)]="txtLocFullName">
          </mat-form-field>
        </div>
      </div>
      <div class="row pr-4 pl-1">
        <div class="col-md-3 pt-2">
          <button mat-button mat-raised-button color="primary" class='noneOutline w-100' (click)="save()">Save</button>
        </div>
        <div class="col-md-3 pt-2">
          <button mat-button mat-raised-button color="warn" class='noneOutline w-100' (click)="clear()">Reset</button>
        </div>
      </div>
    </div>
    <!-- saved locations -->
    <div class="col-md-8 bg-light">
      <div class="row">
        <div class="col-md-12 pt-2">
          <mat-form-field class="w-100">
            <mat-label>search...</mat-label>
            <mat-icon matPrefix class='fa fa-search'></mat-icon>
            <input matInput [(ngModel)]="tblSearch">
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive border table-wrapper mb-2 style-3 bg-white mx-auto" style='height: 400px;'>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="sticky-top text-center" scope="col">#</th>
              <th class="sticky-top" scope="col">Full Name</th>
              <th class="sticky-top" scope="col">Short Name</th>
              <th class="sticky-top" scope="col">Region Name</th>
              <th class="sticky-top" scope="col">Office Type</th>
              <th class="sticky-top text-center" scope='col'>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of locList | search:'mainLocationDescription,subLocationCode,subLocationDescription,officeTypeDescription':tblSearch let i=index">
              <td class="text-center">{{i+1}}</td>
              <td>{{item.subLocationDescription}}</td>
              <td>{{item.subLocationCode}}</td>
              <td>{{item.mainLocationDescription}}</td>
              <td>{{item.officeTypeDescription}}</td>
              <td class='inline-block text-center'><span class='fa fa-edit cursorPointer pr-3 text-primary'
                  (click)="edit(item)"></span>
                <span class='fa fa-trash-o cursorPointer text-danger pr-3' (click)="delete(item)"></span>
                <mat-slide-toggle [(ngModel)]="item.isActivated" (change)="active(item)">
                </mat-slide-toggle>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- End -->
    </div>
  </div>
</div>
